[scripts]

build_test_data = './tests/build_test_data/build_test_data.py'

build_vrt_test = './build_vrt/build_vrt.py -stage test'

build_vrt_dev = './build_vrt/build_vrt.py -stage dev -vsi s3 -te "-4954548.0 -2178809.0 4771843.0 3632558.0"'

build_vrt_prod = './build_vrt/build_vrt.py -stage prod -vsi s3 -te "-4954548.0 -2178809.0 4771843.0 3632558.0"'

tests = "docker run --rm -v ${PWD}:/var/task -it lambci/lambda:build-python3.6 /bin/bash -c './scripts/run-tests.sh'"

[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "*"
rasterio = { version = "*", extras = ["s3"] }
pyproj = "*"
pyyaml = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"

