[scripts]

# Install dependencies, configuration, and function code to each build folder
build_packages = "bash -c \"docker run --rm -v ${PWD}:/var/task -it lambci/lambda:build-python3.6 /bin/bash -c './build.sh'\""

# Generate micro-datasets used by unit tests and build the accompanying VRT
test_prep = "bash -c \"./tests/build_test_data/build_test_data.py && ./build_vrt/build_vrt.py -stage test\" " 

# Build the VRT used by API functions
# Requires one argument (either 'dev' or 'prod')
build_vrt = "bash -c \"./build_vrt/build_vrt.py -stage $0 -vsi s3 -te \"-4954548.0 -2178809.0 4771843.0 3632558.0\" \" "

tests = "bash -c \"docker run --rm -v ${PWD}:/var/task -it lambci/lambda:build-python3.6 /bin/bash -c './scripts/run-tests.sh'\""

# Package and deploy changes to API
# Requires one argument: 'dev' or 'prod'
deploy = "bash -c \" ./deploy.sh $0 \" "

# Display CloudFormation stack outputs (see template.yaml Outputs section)
outputs = "aws cloudformation describe-stacks --stack-name nfwf-tool-api --query 'Stacks[].Outputs'"

[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "*"
rasterio = { version = "*", extras = ["s3"] }
pyproj = "*"
pyyaml = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"

