[scripts]
# Install dependencies, configuration, and function code to each build folder
# Add "--deps" flag to re-install dependencies: pipenv run build --deps
# NOTE!!! For some reason the /lib folder is not being copied into
#  the identify_function/build/ folder... Check this! Do it manually if you need to.
#  Haven't found a fix yet
build = "bash ./build.sh"

# Build the VRT used by API functions
# Run like this: pipenv run build_vrt -stage dev/prod/local/test
# Run with --help to see more options
build_vrt = "python ./scripts/build_vrt/build_vrt.py -te '-4954548.0 -2178809.0 4771843.0 3632558.0' "

# Generate micro-datasets used by unit tests and build the accompanying VRT
test_prep = "bash ./tests/build_test_data/build_test_data.py && ./tests/build_test_data/build_test_data.py -stage test"

#Run tests
tests = "docker run --rm -v ${PWD}:/var/task -it lambci/lambda:build-python3.6 /bin/bash -c './run-tests.sh'"

# Package and deploy changes to API
# Requires one argument: 'dev' or 'prod'
deploy = "bash ./deploy.sh"

# Display CloudFormation stack outputs (see template.yaml Outputs section)
# Run with stack as argument (nfwf-tool-api, nfwf-tool-api-dev, nfwf-tool-api-natureserve, nfwf-tool-api-natureserve-dev)
outputs = "aws cloudformation describe-stacks --query 'Stacks[].Outputs' --stack-name "

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rasterio = { version = "==1.0.5", extras = ["s3"] }
pyproj = "==1.9.6"
pyyaml = "*"

[dev-packages]
pyyaml = "*"
pytest = "*"
click = "*"
fiona = "*"
shapely = "*"
requests = "*"

[requires]
python_version = "3.6"
